.socials{
  position: sticky;
  bottom: 30px;
  text-align: right;
  margin-right: 30px;

  display: flex;
  flex-direction: column;
  gap: 5px;

  //a{
  //  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  //}

  //juste pour aliger les logo à cause du petit décalage du fb
  a:first-child{
    margin-right: 5px;
  }

}