.scroll-container{
  width: 100%;
  justify-content: center;
  align-items: center;
  position:sticky;
  bottom: 5px;
  display:flex;
  flex-direction: column;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  color: #717171;

}

@media screen and (min-width: 240px) and (max-width: 640px){
  .scroll-container{
    display: none;
  }
}