@import "src/variables";

.all-menu{

  .all-menu_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    margin-top: 80px;

    p{
      font-size: .9em;
    }

    .menu-types_container{
      display: flex;
      align-items: center;
      gap: 15px;
      .menu-type{

        label{
          padding: .3em .6em;
          border: solid 2px $green-color;
          border-radius: 1em;
          font-weight: 600;
          font-size: .7em;

          cursor: pointer;

          &:first-child{
            //color: $green-color;
          }
          &:hover{
            background: $green-color;
            color: #fff;
          }
        }

        input{
          display: none;
          &:checked ~ label{
            background: $green-color;
            color: #fff;
          }
        }
      }
    }
  }

  .all-menu_content{
    margin-top: 50px;
  }

  .all-menu_liste{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    height: 400px;
    overflow: hidden;

    .menu-item{
      display: flex;
      align-items: center;
      width: 45%;
      border-bottom: .5px solid lightgray;

      .title{
        margin-right: 30px;
      }

      .description{
        display: flex;
        flex-direction: column;
        gap: 10px;
      }

      .price{
        margin-left: auto;
      }
    }
  }

}