@import "src/variables";

.search {
  //box-shadow: 1px 2px 15px  rgba(0,0,0, .2);
  height: 50px;
  //width: 250px;
  box-shadow: $shadow;
  border: solid 1px $green-color;
  border-radius: 10px;
  overflow: hidden;
  padding: .5em;
  display: flex;
  align-items: center;

  input{
    border: none;
    height: 100%;
    flex: 1;
    padding: 0 10px;
    outline: none;
    font-size: 1em;
  }
  span{
    color: $green-color;
  }
}