@import "/src/variables";

.nav-container{
  position: absolute;
  height: 80px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  h3{
    margin-right: auto;
  }

  ul{
    display: flex;
    gap: 15px;
    margin-left: auto;

    li{
      list-style: none;
      transition: .25s ease-in-out;
      &:hover{
        color: $green-color;
        cursor: pointer;

      }
    }
  }
}

@media (max-width: 640px){
  .nav-container{
    padding: 1rem;
  }
}