@import "src/variables";

.espace-container{
  background: $green-bg-color;
  margin-top: 50px;
  min-height: 100vh;
  .espace-salle {
    padding: 50px 0;

    h2{

      font-family: $title-font;
      font-size: 3rem;
      span{
        color: $green-color;
      }
    }
  }

  .espace{

    margin-top: 80px;
  }

  .espace-card{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    .espace-card_description{

      h1{
        font-size: 2em;
      }
    }
  }
  .espace-img_container{
    width: 50%;
    height: 500px;
    overflow: hidden;

    img{
      object-fit: contain;

    }
  }
}