@import "src/variables";

.menu-jour-card {
  position: relative;
  height: 100px;
  width: 200px;
  border: solid 1px lightgray;
  box-shadow: $shadow;

  border-radius: 7px;
  padding: 5px;
  display: flex;
  gap: 5px;
  .menu-jour-card_img__container{
    border-radius: 5px;
    transform: translate(-40px, -40px);
  }
  .description{
    position: absolute;
    right: 10px;
    bottom: 10px;
    top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    strong{
      display: block;
      text-align: right;
      color: $green-color;
      font-size: 1.2rem;
    }

  }
}