@import './variables.scss';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: $title-font;
  color: $text-color;
}

.landigng{
  position: relative;
  min-height: 100dvh;
  // background-color: $green-bg-color;
  .bg-image{
    position: absolute;
    top: 0;
    left: 0;
  }
  //background: url("/public/assets/img/bg/wallpapper.jpg") ;


  .landing-hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 80dvh;
    margin-top: 100px;

    strong{
      color: $green-color;

    }

    .img-container{

      img{
        object-fit: fill;

        //animation: infinite rotate-plate 5s ;
      }

    }
  }
  .landing-hero_rigth{
    h1{
      font-family: $title-font;
      font-size: 3rem;
      text-transform: capitalize;
      line-height: 1em;
    }
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    p{
      font-size: 1.5em;
    }

    button{
      padding: 1rem 2rem;
      font-size: 1rem;
      font-weight: 700;
      border: none;
      appearance: none;
      background: linear-gradient(-45deg, $green-color, $yellow-color);
      border-radius: 5px;

      transition: $transition;

      &:hover{
        cursor: pointer;
        background: linear-gradient(45deg, $green-color, $yellow-color);
      }
    }
  }
//MENU
  .menu-jour {
    position: relative;
    top: -30px;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    gap: 100px;

    h2{
      display: flex;
      align-items: center;
      gap: 5px;

      .logo-menu_jour{
        color: $green-color;
      }
    }

    .menu-jour_cards{
      display: flex;
      gap: 45px;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  .event-container {
    margin-top: 100px;
    height: 400px;
    width: 100%;
    background: center/cover no-repeat url("/assets/img/event/st-valentin.jpg");
  }
}

@keyframes rotate-plate {
  from{
    transform: rotateZ(0deg);
  }
  to{
    transform: rotateZ(360deg);
  }
}

@media screen and (max-width: 640px) {
  .landing-hero{
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    gap: 50px;
    .landing-hero_rigth{

      h1{
        font-family: $title-font;
        font-size: 2rem;
        text-transform: capitalize;
        line-height: 1em;
      }
      width: 80%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      text-align: center;

      p{
        font-size: 1em;
      }

      button{
        padding: 1rem 2rem;
        font-size: 1rem;
      }

    }
    .img-container{

      img{
        object-fit: fill;
        width: 250px;
        height: 250px;
      }

    }


  }

  .landigng{

    .menu-jour{
      margin-top: 30px;
      position: relative;
      top: 0;
    }
  }

}

@media screen and (min-width: 769px) {

}