@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

$green-bg-color: #f5fdf9;
$green-color: #6EB533;
$yellow-color: #FCBC03;
$text-color: rgb(19, 19, 19);

$primary-font: "Poppins", sans-serif;
$title-font: "Montserrat", sans-serif;

$transition: .25s ease-in-out all;
$shadow : rgba(149, 157, 165, 0.2) 0 8px 24px;
  